{% extends "layout.html" %}

{% block page_title %}
 Forecast sent : Pension statements
{% endblock %}

{% block content %}


<main id="content" role="main">
	<div class="grid-row">
		<div class="column-menu">
			<ul class="main-nav-notactive">
				<li id="home-notactive"><a href="start">Search</a></li>
      		</ul>
  		</div><!-- col menu -->
  		<div class="column-two-thirds" style="padding-left: 40px">
      dasadasdasd
<embed data="/includes/janeb.pdf" type="application/pdf" width="100%" height="100%">
   <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/includes/janeb.pdf">Download PDF</a>.</p>
</embed>
<iframe src="/includes/janeb.pdf" width="100%" height="100%">
This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>
</iframe>

  		</div>
	</div>
</main>

{% endblock %}


