<select id="uprn" name="uprn" class="form-control" style="width: 90%" data-validation-name="addressSelect" data-validation-type="field" data-validation-rules="nonEmpty">
                <option value="" selected="selected">16 addresses found</option>
                <option value="23a Burnbank Avenue, Wellfield, North Tyneside">23a Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="23b Burnbank Avenue, Wellfield, North Tyneside">23b Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="24 Burnbank Avenue, Wellfield, North Tyneside">24 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="25 Burnbank Avenue, Wellfield, North Tyneside">25 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="26 Burnbank Avenue, Wellfield, North Tyneside">26 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="27 Burnbank Avenue, Wellfield, North Tyneside">27 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="28 Burnbank Avenue, Wellfield, North Tyneside">28 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="29 Burnbank Avenue, Wellfield, North Tyneside">29 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="29a Burnbank Avenue, Wellfield, North Tyneside">29a Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="30 Burnbank Avenue, Wellfield, North Tyneside">30 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="30a Burnbank Avenue, Wellfield, North Tyneside">30a Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="31 Burnbank Avenue, Wellfield, North Tyneside">31 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="31a Burnbank Avenue, Wellfield, North Tyneside">31a Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="32 Burnbank Avenue, Wellfield, North Tyneside">32 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="33 Burnbank Avenue, Wellfield, North Tyneside">33 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="34 Burnbank Avenue, Wellfield, North Tyneside">34 Burnbank Avenue, Wellfield, North Tyneside</option>
            </select>
