 <details>
    <summary><span class="summary">Change address</span></summary>
    <div id="id3">
      <form action="issuev3_amended" class="form">
        <div class="form-group">
          <fieldset class="multi-line-field">
            <legend class="label">Address</legend>
              <label for="lineOne" class="visuallyhidden">Address line one</label>
              <input type="text" id="lineOne" name="lineOne" class="address-control">
              <label for="lineTwo" class="visuallyhidden">Address line two</label>
              <input type="text" id="lineTwo"  name="lineTwo" class="address-control">
              <label for="lineThree" class="visuallyhidden">Address line three</label>
              <input type="text" id="lineThree" name="lineThree" class="address-control">
          </fieldset>
            <label for="city">Town or city</label>
            <div class="validation-wrapper">
            <input type="text" id="city" name="city" class="address-control">
            </div>
            <label for="country">Country</label>
            <div class="validation-wrapper">
            <input type="text" id="country" name="country" class="address-control">
            </div>
          </div>
          <button type="submit" id="continue" class="button next validation-submit">Update address</button>
             </form>
        </div>
  </details>
