<select id="uprn" name="uprn" class="form-control" style="width: 60%" data-validation-name="addressSelect" data-validation-type="field" data-validation-rules="nonEmpty">
                <option value="" selected="selected">16 addresses found</option>
                <option value="9 Burnbank Avenue, Wellfield, North Tyneside">9 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="10 Burnbank Avenue, Wellfield, North Tyneside">10 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="11 Burnbank Avenue, Wellfield, North Tyneside">11 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="12 Burnbank Avenue, Wellfield, North Tyneside">12 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="13 Burnbank Avenue, Wellfield, North Tyneside">13 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="14 Burnbank Avenue, Wellfield, North Tyneside">14 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="15 Burnbank Avenue, Wellfield, North Tyneside">15 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="16 Burnbank Avenue, Wellfield, North Tyneside">16 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="17 Burnbank Avenue, Wellfield, North Tyneside">17 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="18 Burnbank Avenue, Wellfield, North Tyneside">18 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="19 Burnbank Avenue, Wellfield, North Tyneside">19 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="20 Burnbank Avenue, Wellfield, North Tyneside">20 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="21 Burnbank Avenue, Wellfield, North Tyneside">21 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="22 Burnbank Avenue, Wellfield, North Tyneside">22 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="23 Burnbank Avenue, Wellfield, North Tyneside">23 Burnbank Avenue, Wellfield, North Tyneside</option>
                <option value="24 Burnbank Avenue, Wellfield, North Tyneside">24 Burnbank Avenue, Wellfield, North Tyneside</option>
            </select>
