<div class="column-two-thirds customer-header-alt">
   <h1 class="heading-large">Ms Amber Neve Green</h1>
   <div class="customer-header-alt-ni">
      <ul>
         <li><span style="font-weight: 700">AA678910C</span></a>
         <li>
      </ul>
   </div>
   <div class="customer-header-alt-dob">
      <ul>
         <li>Date of Birth: <span style="font-weight: 700">8 November 1969</li>
      </ul>
   </div>
   <div style="width: 30%; float: left; padding-top: 10px;">
      <ul>
      <li><span style="font-weight: 700"></span>
   </div>
</div>