<div class="column-two-thirds customer-header">
   <h1 class="heading-large">Henry David Williamson</h1>
   <div style="width: 30%; float: left;">
      <ul>
         <li><span style="font-weight: 700">QQ123456C</span></a>
         <li>
      </ul>
   </div>
   <div style="width: 30%; float: left;">
      <ul>
         <li>Date of Birth: <span style="font-weight: 700">1 December 1962</li>
      </ul>
   </div>
   <div style="width: 30%; float: left; padding-top: 10px;">
      <ul>
      <li><span style="font-weight: 700"></span>
   </div>
</div>