<div class="column-two-thirds" style="padding-left: 40px; padding-bottom: 10px; background-color: #28A197">
        <div style="width: 30%; float: left; padding-right: 100px">
          <h1 class="heading-large" style="color: #fff; margin-bottom: 0px">Henry David Williamson</h1>
          <ul style="color: #fff"><li>10 Beaconsfield Road, Low Fell, Gateshead, Tyne and Wear, NE9 5EU</li></ul> </div>
      <div style="width: 30%; float: left; padding-top: 85px;"> <ul style="color: #fff"><li><span style="font-weight: 700">QQ123456C</span></a><li><li>Date of Birth: <span style="font-weight: 700">1 December 1962</li></ul></div>
      <div style="width: 30%; float: left; padding-top: 10px;"> <ul style="color: #fff"><li><span style="font-weight: 700"></span></div></div>