<base></base><div class="header-proposition" style="width: 100%">
  <div class="content">
    <!--<a href="#proposition-links" class="js-header-toggle2 menu2">Menu</a>-->
    <nav id="proposition-menu">
      <a href="/start" id="proposition-name">State Pension forecast</a>
      <!--
      <ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li>
      </ul>
   -->
    </nav>
  </div>
</div>
