<form>
 <fieldset>
      <legend class="visuallyhidden">Choose letter type</legend>

      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        Normal
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        Large print
      </label>
   
      <label class="block-label" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
        Braille
      </label>

    </fieldset>
  </form>

  <p style="padding-top: 20px"><a href="sent" class="button">Send forecast</a> </p>