
{% extends "layout.html" %}
{% block page_title %}
Agent view - Pension forecast
{% endblock %}
{% block content %}
<main id="content" role="main">
 <div class="grid-row">
   <div class="column-menu">
    <ul class="main-nav-notactive">
     <li id="home-notactive"><a href="start">Search</a></li>
         <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
            <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
            <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
            <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
          </ul>
        </div><!-- end col menu -->
        {% include "includes/customer_header_alt.html" %}
        <div class="column-two-thirds" style="padding-left: 40px;">
          
          <form>
            <h2 class="heading-medium">Choose letter type</h2>
            <div class="form-group">
              <fieldset class="inline" data-required data-error="Choose Normal, Large print, Braille or Welsh">
                <legend class="visuallyhidden">Choose letter type</legend>
                 <div class="form-group">
                <label class="block-label" for="radio-1">
                  <input id="radio-1" type="radio" name="radio-group" value="Normal">
                  Normal
                </label>
                <label class="block-label" for="radio-2">
                  <input id="radio-2" type="radio" name="radio-group" value="Large print">
                  Large print
                </label>

                <label class="block-label" for="radio-3">
                  <input id="radio-3" type="radio" name="radio-group" value="Braille">
                  Braille
                </label>
                   <label class="block-label" for="radio-4">
                  <input id="radio-4" type="radio" name="radio-group" value="Welsh">
                  Welsh
                </label>
              </div>
              </fieldset>
            <input type="submit" value="Send forecast" class="button" style="margin-top: 20px">
            </div>
          </form>
         </div>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
// function show(elementId) {
//   document.getElementById("id1").style.display = "none";
//   document.getElementById("id2").style.display = "block";
//   document.getElementById(elementId).style.display = "block";
// }

$(document).on('click', '#find-address', function () {
  $('#id1').hide();
  $('#id2').show();
});

$(document).on('click', '#cant-find', function (e) {
  e.preventDefault();
  $('#id2').hide();
  $('#id3').show();
});

</script>
{% endblock %}


