
{% extends "layout.html" %}
{% block page_title %}
Agent view - Pension forecast
{% endblock %}
{% block content %}
<main id="content" role="main">
 <div class="grid-row">
   <div class="column-menu">
    <ul class="main-nav-notactive">
     <li id="home-notactive"><a href="start">Search</a></li>
         <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
            <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
            <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
            <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
          </ul>
        </div><!-- end col menu -->
        <div class="column-two-thirds" style="padding-left: 40px;">
          <h2 class="heading-medium">Use PFIT to issue a statement</h2>
          <p class="text">A forecast can only be sent to the address we hold. If their address has changed, or they would like to use a different correspondance address, use PFIT.</p>
          <!--<div class="panel"><span style="font-weight: 700">If their address has changed you must issue a statement through PFIT</span></div>-->
          
        </div>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
// function show(elementId) {
//   document.getElementById("id1").style.display = "none";
//   document.getElementById("id2").style.display = "block";
//   document.getElementById(elementId).style.display = "block";
// }

$(document).on('click', '#find-address', function () {
  $('#id2').show();
});

$(document).on('click', '#cant-find', function (e) {
  e.preventDefault();
  $('#id2').hide();
  $('#id3').show();
});

$(document).on('click', 'input[type="radio"]', function (e) {
      if ($(e.target).attr('id') === 'radio-1' || $(e.target).attr('id') === 'radio-2') {
        $('#warningmessage').show();
        if ($(this).attr('id') === 'radio-2') {
          $('#warningmessage').show();
        } else {
          $('#warningmessage').hide();
        }
      }
    });

</script>
{% endblock %}


