{% extends "layout.html" %}

{% block page_title %}
 Forecast sent : Pension statements
{% endblock %}

{% block content %}


<main id="content" role="main">
	<div class="grid-row">
		<div class="column-menu">
			<ul class="main-nav-notactive">
				<li id="home-notactive"><a href="start">Search</a></li>
      		</ul>
  		</div><!-- col menu -->
  		<div class="column-two-thirds" style="padding-left: 40px">

  			<h1 class="heading-large">Forecast sent</h1>
  			<p class="text">The customer's forecast will arrive in 3-5 working days</p>
  			<p><a href="start">Search again</a></p>

  		</div>
	</div>
</main>

{% endblock %}


