{% extends "layout.html" %} {% block page_title %} Something's gone wrong : Pension statements {% endblock %} {% block content %}


<main id="content" role="main">
    <div class="grid-row">
        <div class="column-menu">
            <ul class="main-nav-notactive">
                <li id="home-notactive"><a href="start">Search</a></li>
            </ul>
        </div>
        <!-- col menu -->
        <div class="column-two-thirds" style="padding-left: 40px">

            <h1 class="heading-large">Something's gone wrong</h1>
            <p class="text">You can't use this service just now. The problem will be fixed as soon as possible.</p>

            <p class="text">Please try again later.</p>

        </div>
    </div>
</main>

{% endblock %}
