{% extends "layout_unbranded.html" %}

{% block page_title %}
 Search using NI number : Pension statements
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div style="width: 100%; background-color: #9C9EBD; margin: 0 auto; height: 1500Px">
  <div style="margin: 0 auto; padding: 100px 0 100px 0; width: 70%">
    <form action="ole_details">
    <label for="search-main">Enter NI number</label>
    <input name="search" id="search-main" title="Search" class="form-control" type="text"><input type="submit" value="Access record">
  </a></form></div>
    </div>
  </main>



{% endblock %}
