{% extends "layout_unbranded.html" %}

{% block page_title %}
 Search using NI number : Pension statements
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div style="width: 100%; background-color: #9C9EBD;">
    <img src="/public/images/OLE_screen.png" width="1200px">
  </div>
  <table class="ole" width="1200px">
    <tr><td colspan="8">NINO:<span style="padding: 0 100px 0 50px ;">BB123456C</span>LATEST NAME AND ADDRESS</td></tr>
    <tr><td>Title</td><td style="background-color: #8C8AB5;">Ms</td><td>Sex</td><td style="background-color: #8C8AB5;">F</td><td rowspan="3">Address</td><td rowspan="3" style="background-color: #8C8AB5;">55 Beaconsfield Road<br>Low Fell<br>Gateshead<br>Tyne and Wear</td><td>Date of Birth</td><td style="background-color: #8C8AB5;">2/12/1963</td></tr>
    <tr><td>Forenames</td><td colspan="3" style="background-color: #8C8AB5;">Jane</td><td>Home phone number</td><td style="background-color: #8C8AB5;">0191 4441234</td></tr>
    <tr><td>Surname</td><td colspan="3" style="background-color: #8C8AB5;">Burns</td><td>Postcode</td><td style="background-color: #8C8AB5;">NE9 5EU</td></tr>
  </table>
</main>



{% endblock %}
