//content font
/* Noto sans, not currently needed

#proposition-name {
font-family: 'NotoSans', arial, sans-serif !important;
}

#content, #main, p, h1, h2, h3, {
font-family: 'NotoSans', arial, sans-serif !important;
}

.text {
font-family: 'NotoSans', arial, sans-serif !important;
font-size: 18px;
}

p, li, label {
font-family: 'NotoSans', arial, sans-serif !important;
font-size: 18px;
}

.heading-large, .heading-xlarge, heading-medium, heading-small  {
font-family: 'NotoSans', arial, sans-serif !important;
} */
