
{% extends "layout.html" %}
{% block page_title %}
Confirm address : Pension statements
{% endblock %}
{% block content %}
<main id="content" role="main">
 <div class="grid-row">
   <div class="column-menu">
    <ul class="main-nav-notactive">
     <li id="home-notactive"><a href="start">Search</a></li>
         <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
            <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
            <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
            <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
          </ul>
        </div><!-- end col menu -->
        {% include "includes/customer_header_alt_address.html" %}
        <div class="column-two-thirds" style="padding-left: 40px;">
          <h2 class="heading-medium">Confirm address</h2>
          <p class="text" style="padding-bottom: 20px">9 Meadow Street, Preston, Lancashire, PR1 0GB</p>
          <!--<div class="panel"><span style="font-weight: 700">If their address has changed you must issue a statement through PFIT</span></div>-->

          <form action="issue_excluded_address" class="form">
              <fieldset class="inline" data-required data-error="Choose Yes or No">
                <legend><span style="font-weight: 700">Is this address correct?</span></legend>
                 <div class="form-group">
                <label class="block-label" for="radio-1">
                  <input id="radio-1" type="radio" name="address_same" value="Yes">
                  Yes - generate forecast
                </label>
                <label class="block-label" for="radio-2">
                  <input id="radio-2" type="radio" name="address_same" value="No">
                  No
                </label>

              </div>
              </fieldset>
            <input type="submit" value="Continue" class="button">
          </form>
         </div>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
// function show(elementId) {
//   document.getElementById("id1").style.display = "none";
//   document.getElementById("id2").style.display = "block";
//   document.getElementById(elementId).style.display = "block";
// }

$(document).on('click', '#find-address', function () {
  $('#id2').show();
});

$(document).on('click', '#cant-find', function (e) {
  e.preventDefault();
  $('#id2').hide();
  $('#id3').show();
});


</script>
{% endblock %}
