
{% extends "layout.html" %}
{% block page_title %}
Can't send forecast : Pension statements
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-menu">
      <ul class="main-nav-notactive">
        <li id="home-notactive"><a href="start">Search</a></li>
        <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
        <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
        <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
        <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
      </ul>
    </div><!-- end col menu -->
    {% include "includes/customer_header_alt_name.html" %}
    <div class="column-two-thirds" style="padding-left: 40px;">
      <h2 class="heading-medium">Use PFIT to issue a statement</h2>
      <div class="panel panel-border-wide style2" style="width: 66%"><p class="text">To amend the customer's details and issue a statement use PFIT.</p></div>
<p><a href="start" class="button">Finish</a></p>
      <!--  <details>

      <summary><span class="summary">Lines to take</span></summary>

      <div class="panel panel-border-narrow"  style="width: 66%">

      <p>We cannot forecast your pension because the Isle of Man now has it's own pension rules. We can offer you a statement of the pension based on your UK National Insurance record to date. You can also contact the Isle of Man for a statement, tel: 0800 124567</p>

    </div>

  </details>-->
    </div>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
// function show(elementId) {
//   document.getElementById("id1").style.display = "none";
//   document.getElementById("id2").style.display = "block";
//   document.getElementById(elementId).style.display = "block";
// }

$(document).on('click', '#find-address', function () {
  $('#id1').hide();
  $('#id2').show();
});

$(document).on('click', '#cant-find', function (e) {
  e.preventDefault();
  $('#id2').hide();
  $('#id3').show();
});

</script>
{% endblock %}
