
{% extends "layout.html" %}
{% block page_title %}
Can't send forecast : Pension statements
{% endblock %}
{% block content %}
<main id="content" role="main">
 <div class="grid-row">
   <div class="column-menu">
    <ul class="main-nav-notactive">
     <li id="home-notactive"><a href="start">Search</a></li>
         <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
            <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
            <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
            <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
          </ul>
        </div><!-- end col menu -->
        {% include "includes/customer_header_alt.html" %}
        <div class="column-two-thirds" style="padding-left: 40px;">
             <div id="global-breadcrumb">
    <a class="link-back" href="issue_address_confirm?details_same=Yes">Back</a>
  </div>
          <h1 class="heading-medium">Security questions</h1>
           <form action="change_address" class="form">
          <div style="width: 50%; float: left; border-top: 1px solid #ccc">
          <h2 class="heading-small"><span style ="font-weight: 400;">Previous address:</span> <br>10 Beaconsfield Road, Low Fell, Gateshead, Tyne and Wear, NE9&nbsp;5EU</h2>
          </div>
           <div style="width: 50%; float: left; padding-top: 20px; border-top: 1px solid #ccc">
            <fieldset class="inline" data-required data-error="Choose Yes or No">
                <legend>Answered correctly?</legend>
                 <div class="form-group">
                <label class="block-label" for="radio-1">
                  <input id="radio-1" type="radio" name="address" value="Yes">
                  Yes
                </label>
                <label class="block-label" for="radio-2">
                  <input id="radio-2" type="radio" name="address" value="No">
                  No
                </label>
               
              </div>
               </div>
                
               <div style="width: 50%; float: left; border-top: 1px solid #ccc">
               <h2 class="heading-small"><span style ="font-weight: 400;">Previous employer:</span> <br>Boots plc</h2>
             </div>
             <div style="width: 50%; float: left; padding-top: 20px; border-top: 1px solid #ccc">
            <fieldset class="inline" data-required data-error="Choose Yes or No">
                              <legend>Answered correctly?</legend>
                 <div class="form-group">
                <label class="block-label" for="radio-3">
                  <input id="radio-3" type="radio" name="employer_name" value="Yes">
                  Yes
                </label>
                <label class="block-label" for="radio-4">
                  <input id="radio-4" type="radio" name="employer_name" value="No">
                  No
                </label>
               
              </div>
            </div>

          <input type="submit" value="Continue" class="button">
        </form>
          
        </div>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
// function show(elementId) {
//   document.getElementById("id1").style.display = "none";
//   document.getElementById("id2").style.display = "block";
//   document.getElementById(elementId).style.display = "block";
// }

$(document).on('click', '#find-address', function () {
  $('#id2').show();
});

$(document).on('click', '#cant-find', function (e) {
  e.preventDefault();
  $('#id2').hide();
  $('#id3').show();
});

$(document).on('click', 'input[type="radio"]', function (e) {
      if ($(e.target).attr('id') === 'radio-1' || $(e.target).attr('id') === 'radio-2') {
        $('#warningmessage').show();
        if ($(this).attr('id') === 'radio-2') {
          $('#warningmessage').show();
        } else {
          $('#warningmessage').hide();
        }
      }
    });

</script>
{% endblock %}


