{% extends "layout.html" %}

{% block page_title %}
 Forecast sent : Pension statements
{% endblock %}

{% block content %}


<main id="content" role="main">
	<div class="grid-row">
		<div class="column-menu">
			<ul class="main-nav-notactive">
				<li id="home-notactive"><a href="start">Search</a></li>
      		</ul>
  		</div><!-- col menu -->
      {% include "includes/customer_header_alt.html" %}
  		<div class="column-two-thirds" style="padding-left: 40px">
      <div class="govuk-box-highlight padding-small" style="width:66%">
            <h1 class="bold-large m-b-s">Forecast printed</h1>
            <p><strong class="heading-small">The customer's forecast will be posted and arrive in 3-5 working days</strong></p>
          </div>
        <p><a href="issue_address_confirm?details_same=Yes">Return to record</a></p>
  			<p><a href="start">Exit record</a></p>

  		</div>
	</div>
</main>

{% endblock %}
