{% extends "layout.html" %}

{% block page_title %}
 Search using NI number : Pension statements
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-menu">

      <ul class="main-nav">
        <li id="home"><a href="#">Home</a></li>
          <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
          <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
          <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
          <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
        </ul>

      </div>
      <div class="column-two-thirds" style="padding-left: 40px">
        <form action="issue_address_alt" method="get" role="search">
          <h1 class="heading-large">Choose an option</h1>
          <fieldset class="inline" data-required data-error="Choose Yes or No">
            <legend><span style="font-weight: 700"></span></legend>
             <div class="form-group">
            <label class="block-label" for="radio-1">
              <input id="radio-1" type="radio" name="address_UK" value="Yes" checked="checked">
              Print and send out forecast
            </label>
            <label class="block-label" for="radio-2">
              <input id="radio-2" type="radio" name="address_UK" value="No">
              View forecast
            </label>
          </div>
            </fieldset>
            <div class="form-group" style="margin-top: -10px">
              <label for="lineTwo" class="form-label form-label-bold">Enter National Insurance number</label>
              <input type="text" id="lineTwo" name="lineTwo" class="form-control">
            </div>


          <input type="submit" value="Continue" class="button">
        </form>



      </div>
    </div>
  </main>



{% endblock %}
