{% extends "layout.html" %} {% block page_title %} Agent view - Pension forecast {% endblock %} {% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-menu column-menu-tall">
      <ul class="main-nav-notactive">
        <li id="home-notactive"><a href="start2">Home</a></li>
        <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
        <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
        <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
        <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
      </ul>
    </div>
    <!-- end col menu -->
    <div class="column-two-thirds" style="padding: 0 40px 0 40px;">
    <div id="global-breadcrumb" class="breadcrumb">
      <a class="link-back" href="results_confirm2?search=qq123456c">Back</a>
    </div>
    <h1 class="heading-large">QQ123456C</h1>
  </div>
    <div class="column-one-half" style="padding: 0 40px 0 40px; width: 35%">
        <h2 class="heading-medium">State Pension overview</h2>
      <div class="forecast-wrapper2">
        <span class="forecast-label2">State Pension date:</span> <span class="forecast-data-bold2">9 February 2026</span>
      </div>
      <h3 class="heading-small">Has been contracted out</h3>
      <div class="forecast-wrapper2">
        <span class="forecast-label2">COPE estimate</span> <span class="forecast-data-bold2">£22.60 a week</span>
    </div>
</div>

      <div class="column-one-half" style="width: 40%; padding-top:95px">
      <div class="forecast-wrapper2">
        <span class="forecast-label2">Estimate up to 5 April 2016<br>
        22 full (qualifying) years</span> <span class="forecast-data-bold2">£87.49 a week</span>
    </div>

    <div class="forecast-wrapper2">
      <span class="forecast-label2">Forecast if contributes 9 future years before 5 April 2025</span> <span class="forecast-data-bold2">£127.54 a week</span>
  </div>
  <h3 class="heading-small">Can improve forecast by filling gaps</h3>
  <div class="forecast-wrapper2">
    <span class="forecast-label2">Forecast if continues to contribute and fills 8 previous years in record<br>
  </span> <span class="forecast-data-bold2">£155.65 a week</span>
</div>

        <!--  <p><a href="issue_address"  class="button">Send forecast</a></p>-->

</div>
<div class="column-two-thirds" style="padding: 0px 40px 0 40px; width: 78%">
              <h2 class="heading-medium">National Insurance record</h2>
              <ul class="list-bullet">

                <li>22 full years</li>
                <li>19 gaps in record</li>
              </ul>


                <dl class="accordion2">
                  <h3 class="heading-small">Years with gaps</h3>
                      <p><a href="#"> View all years</a></p>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2016-17</div>
        <div class="ni-full2">Record for this year is not available yet</div>
      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2015-16</div>
        <div class="ni-notfull">£722 shortfall</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2014-15</div>
        <div class="ni-notfull">£50 shortfall</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2013-14</div>
        <div class="ni-notfull">£355 shortfall</div>

      </div>
    </dt>

    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2012-13</div>
        <div class="ni-notfull">£400 shortfall</div>

      </div>
    </dt>


    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2011-12</div>
        <div class="ni-notfull">£150 shortfall</div>

      </div>
    </dt>

    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2009-10</div>
        <div class="ni-notfull">£100 shortfall</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2008-09</div>
        <div class="ni-notfull">£150 shortfall</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2007-08</div>
        <div class="ni-notfull">£150 shortfall</div>

      </div>
    </dt>


    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2006-07</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>


    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2005-06</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2004-05</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2003-04</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2002-03</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2001-02</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">2000-01</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">1999-2000</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">99-98</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">98-99</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>
    <dt>
      <div class="ni-wrapper">
        <div class="ni-years2">97-98</div>
        <div class="ni-late">It&rsquo;s too late to pay for this year</div>

      </div>
    </dt>

  </dl>

            </div>
            <div id="contracting-out" class="tab-pane" style="display: none; width: 60%;">
                <h2 class="heading-medium">Contracting out</h2>

                <details>
                  <summary style="margin-top: 20px"><span class="summary">Lines to take</span></summary>
                  <p>In the past you’ve been part of one or more contracted out pension schemes, such as workplace or personal pension schemes.</p>
                  <p>When you were contracted out:</p>
                  <ul class="list-bullet">
                    <li>you and your employers paid lower rate National Insurance contributions; or</li>
                    <li>some of your National Insurance contributions were paid into your other pension schemes instead</li>
                  </ul>
                  <p>The COPE amount is in addition to your State Pension and is paid as part of your other pension schemes, not by the government.</p>
                </details>
                <h2 class="heading-small">When customer was contracted out</h2>
                  <table style="width: 80%"><tr><th>From</th><th>To</th></tr>
                    <tr><td>March 2009</td><td>February 2011</td></tr>
                    <tr><td>January 1999</td><td>December 2001</td></tr>
                  </table>
                  </div>
                </div>
          </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



  </script>
  {% endblock %}
