{% extends "layout.html" %}

{% block page_title %}
  Agent view - Pension forecast
{% endblock %}

{% block content %}

<main id="content" role="main">
  	<div class="grid-row">
  		<div class="column-two-thirds" style="width: 80%; float: right;">
      		<h1 class="heading-xlarge">Check your State Pension - Agent view </h1>
      		<h2 class="heading-medium">Sprint 0</h2>
        		<ul class="list-bullet">
        	 		<li><a href="start">MVP</a><br>NINO search > Security > Amend address > Produce paper statement</li>
        	 		<li><a href="forecast">Forecast</a></li>
        		</ul>
        </div>
  	</div>
</main>

{% endblock %}


