{% extends "layout.html" %} {% block page_title %} Agent view - Pension forecast {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds" style="width: 100%; padding-left: 30px">
            <h1 class="heading-xlarge">Check your State Pension - Agent view </h1>
            <h2 class="heading-medium">Postcode look up for review</h2>
            <p>3 February 2017</p>

            <p>
                <p><a href="/contingency_postcode/start" class="button">Postcode look up</a></p>
                <p>QQ123456C - can issue statement

            </p>
            <p>Changes from previous round of testing:</p>
            <ul class="list-bullet">
                <li>simplified flow for repeated use</li>
                <li>overseas and UK fields consistent layout</li>
                <li>postcode repeated for manual entry</li>
                <li>added Name and Address labels to help group fields</li>
            </ul>
            <hr>
            <h2 class="heading-medium">MVP for dev</h2>
            <p>14 December 2016</p>

            <p>
                <p><a href="/contingency_mvp/start" class="button">Start MVP</a></p>
                QQ123456C - can issue statement<br> DD678910C - can't issue, customer excluded<br>

            </p>
            <hr>

            <h2 class="heading-large">Prototypes</h2>

                <h2 class="heading-medium">Enquiries v6</h2>
                <p>23 March 2017</p>



                <p><a href="/enquiriesv6/start" class="button">Enquiries v6</a></p>
                <ol class="list list-number">
                  <li>FF654321B: at the maximum</li>
                  <li>NK678910D: MQP can't get any pension</li>
                  <li>NT678910A: MQP will get full amount</li>
                  <li>DD678910C: MQP may get some by filling gaps</li>
                  <li>ZZ345678A: MQP can improve forecast with gaps</li>
                  <li>QQ123456C: will reach max by contributing</li>
                  <li>FF123456C: can improve forecast with gaps</li>
                  <li>BG345678A: can't improve with future years, can by filling gaps</li>

                </ol>
                <p>Changes from previous round of testing:<p>
                <ul class="list-bullet">
                    <li>more scenarios</li>
                    <li>changes to NI record labelling of payable and non-payable years</li>
                    <li>2nd print button added to print page</li>
                </ul>
                <hr>

                <h2 class="heading-medium">Enquiries v5</h2>
                <p>2 March 2017</p>



                <p><a href="/enquiriesv5/start" class="button">Enquiries v5</a></p>
                <ol class="list list-number">
                  <li>FF654321B: at the maximum</li>
                  <li>NK678910D: MQP can't get any pension</li>
                  <li>NT678910A: MQP will get full amount</li>
                  <li>DD678910C: MQP may get some by filling gaps</li>
                  <li>ZZ345678A: MQP can improve forecast with gaps</li>
                  <li>QQ123456C: will reach max by contributing</li>
                  <li>FF123456C: can improve forecast with gaps</li>
                  <li>BG345678A: can't improve with future years, can by filling gaps</li>

                </ol>
                <p>Changes from previous round of testing:<p>
                <ul class="list-bullet">
                    <li>more scenarios</li>
                    <li>changes to NI record labelling of payable and non-payable years</li>
                    <li>2nd print button added to print page</li>
                </ul>
                <hr>
                <h2 class="heading-medium">Enquiries v4</h2>
                <p>17 February 2017</p>



                <p><a href="/enquiriesv4/start" class="button secondary-button">Enquiries v4</a></p>

                <p>QQ123456C - shows non payable gaps<br> DD678910C - hide non payable gaps</p>
                <p>Changes from previous round of testing:</p>
                <ul class="list-bullet">
                    <li>separated info to make overview page easier to scan (qualifying years, FRY)</li>
                    <li>stripped down NI record to show shortfalls only</li>

                    <li>used 2 column layout so more info is visible</li>
                </ul>
                <hr>
                <h2 class="heading-medium">Enquiries v3 - Forecast/NI on 1 page </h2>
                <p>February 10 2017</p>


                <p><a href="/contingency_full3/start" class="button">Enquiries v3</a></p>

                QQ123456C - can improve with gaps<br> DD678910C - can't improve pension<br>

                </p>
                <p>Changes from previous round of testing:</p>
                <ul class="list-bullet">
                    <li>simplified layout and made more consistent between scenarios</li>
                    <li>used 2 column layout so more info is visible</li>
                </ul>
                <hr>

                
                <h2 class="heading-medium">Enquiries v2 - Forecast/NI on tabs</h2>
                <p>February 10 2017</p>


                <p><a href="/contingency_full2/start" class="button">Enquiries v2</a></p>

                QQ123456C - can improve with gaps<br> DD678910C - can't improve pension<br>

                </p>
                <p>Changes from previous round of testing:</p>
                <ul class="list-bullet">
                    <li>simplified layout and made more consistent between scenarios</li>
                    <li>use tabs to toggle between forecast and NI record </li>
                </ul>
                <hr>
                <h2 class="heading-medium">Enquiries v1</h2>
                <p>19 December 2016</p>

                <p><a href="/contingency_full/ole">Fake OLE screens</a></p>
                <h3 class="heading-small">NINO search then Forecast/Enquiry option</h3>
                <p><a href="/contingency_full/start2" class="button">Enquiries v1 - NINO first</a></p>
                <h3 class="heading-small">Forecast/Enquiry option then NINO search</h3>
                <p><a href="/contingency_full/start_alt" class="button">Enquiries v1 - option first</a></p>


                <p>QQ123456C - will get the full amount by contributing<br> GG678910C - can improve forecast by filling gaps</p>
                <p>Changes from previous round of testing:</p>
                <p>Different journeys to test which was clearer and simpler for agent</p>
                <hr>
                <h2 class="heading-medium">Contingency test v4</h2>

                <p><a href="/contingency_test4/ole">OLE screens</a></p>
                <p><a href="/contingency_test4/start2" class="button">Contingency test v4</a></p>

                </ul>
                <p>Changes from previous round of testing:</p>
                <ul class="list-bullet">
                    <li>
                        Back button added</li>
                    <li>Some text changes - declaration before creating PDF</li>
                </ul>
                <hr>
                <h2 class="heading-medium">Contingency test v3 - postcode look up</h2>
                <p>19 December 2016</p>

                <p><a href="/contingency_test3/ole">OLE screens</a></p>
                <p><a href="/contingency_test3/start2" class="button">Contingency test v3</a></p>
                <p><a href="/contingency_test3/start3">Alternative layout for postcode search</a></p>
                </ul>
                <p>Changes from previous round of testing:</p>
                <ul class="list-bullet">
                    <li>simplified end print screens</li>
                    <li>postcode look up</li>
                </ul>
                <hr>
                <h2 class="heading-medium">Contingency test v2</h2>
                <p>5 December 2016</p>


                <p><a href="/contingency_test2/ole">OLE screens</a></p>
                <p><a href="/contingency_test2/start2" class="button">Contingency test v2</a></li>
                    </ul>
                    <p>Changes from previous round of testing:</p>
                    <p>Simplified print flow.</p>
                    <hr>
                    <h2 class="heading-medium">Contingency test - with CIS intergration</h2>
                    <p>24 November 2016</p>
                    <p>Unable to retrieve personal data from CIS. Prototypes to test the manual entry journey and fake OLE screens</p>
                    <p><a href="/contingency_test/" class="button">Contingency test</a></p>
                    <hr>
                    <h2 class="heading-medium">MVP - check details and issue statement</h2>
                    <p>10 October 2016</p>

                        <p><a href="/MVP/start" class="button">Start MVP</a></p>
                        <p>NINO search > check details > check address > produce paper statement<p> QQ123456C - can issue statement<br> DD678910C - can't issue, customer excluded<br> CD654321C - name change<br> NT109876C
                            - address change<br> FF123456C special customer record</p>
                            <p>Changes from last round of testing</p>
                        <p><strong>Alternative end pages (shows customer details/finish button)</strong><br>
                            <a href="/MVP/issue_cant_details2">Name/DOB incorrect</a><br>
                            <a href="/MVP/issue_cant2">Address incorrect</a><br>
                            <a href="/MVP/issue_excluded?details_same2=Yes">Excluded</a><br>
                            <a href="/MVP/sent2">Forecast sent</a>
                    <hr>
                  <h2 class="heading-medium">Service with CIS integration</h2>
                  <p> Prototypes of service with CIS integration and security questions</p>
                  <p><a href="cis_prototypes" class="button">CIS prototypes</a></p>


            <!--<h3 class="heading-small">Paper statement</h3>
              <ul class="list-bullet">
              <li><a href="/public/PDF/06_04_2thirds.pdf">Paper statement v1 (PDF)</a></li>
              <li><a href="/public/PDF/paper_statement_Jarrett.pdf">Paper statement v2 (PDF)</a><br>
              similar to Notify template</li>
            </ul>-->
        </div>
    </div>
</main>

{% endblock %}
