{% extends "layout.html" %}

{% block page_title %}
Agent view - Pension forecast
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-menu">
			<ul class="main-nav-notactive">
				<li id="home-notactive"><a href="start">Search</a></li>
          <!--<li id="main-nav-todo-list"><a href="/agent/to-do-list">To-do list</a></li>
          <li id="main-nav-claimants"><a href="/agent/claimants">Claimants</a></li>
          <li id="main-nav-colleagues"><a href="/agent/colleagues">Colleagues</a></li>
          <!--<li id="main-nav-teams"><a href="/agent/teams">Teams</a></li>-->
        </ul>
      </div><!-- col menu -->
      {% include "includes/customer_header_amended.html" %}

      <div class="column-one-half" style="padding-left: 40px; padding-right: 100px"><h2 class="heading-large">Send forecast</h2>
       <p class="lede">1. Check postal address before sending</p>
<p>Updated: {{ uprn }}, NE25 9HQ  </p>
       <details>

       <summary><span class="summary">Change address</span></summary>

       <div class="panel panel-border-narrow" id="id1">

        <fieldset>
          <label for="address_postcode">
            Postcode
          </label>
          <div id="id1">
            <div class="validation-wrapper ">
              <input type="text" id="address_postcode" name="address.postcode" value="" autocomplete="off" class="text postcode medium validate " data-validation-name="postcode" data-validation-type="field" data-validation-rules="nonEmpty postcode">
            </div>
            <button type="button" class="button next validation-submit" data-validation-sources="postcode" style="margin-top: 20px" onclick="show('id2');">
              Find address
            </button>
          </fieldset>

        </div><!-- ID 1 postcode end -->
        <div id="id2" style="display:none">
         <p>
          <span class="postcode-prefix">Postcode</span>
          <span class="visuallyhidden">:</span>
          <span class="postcode"><span style="font-weight: 700">NE25 9HQ  </span>
          <a href="issue" class="change-postcode-button">
            Edit<span class="visuallyhidden"> your postcode</span>
          </a>
        </p>
        <!-- address wrapper --><div class="panel panel-border-narrow">
        <form action="issue_amended">
          <fieldset>
            <input type="hidden" id="address_postcode" name="address.postcode" value="ne259hq" class="text hidden">

            <label for="address_uprn">
              <span class="visuallyhidden">Select your </span>Address
            </label>
            <div class="validation-wrapper">
             {% include "includes/address_list.html" %}
           </div><!-- 1D2 address wrapper end -->
         </fieldset>

         <p style="padding-top: 20px"><button type="submit" id="continue" class="button next validation-submit" data-validation-sources="addressSelect">
          Update address
        </button><a href="/register-to-vote/address/manual" style="padding-left: 30px">I can’t find the address in the list<span class="visuallyhidden"> section</span></p>
      </a></form>
    </div>

  </div>

</details>


</div>
<div style="float: left; padding-top: 100px">
  <p class="lede">2. Choose letter type</p>
  {% include "includes/statement_type_radio.html" %}
</div><!-- col menu -->


</div>
</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
function show(elementId) {
  document.getElementById("id1").style.display = "none";
  document.getElementById("id2").style.display = "block";
  document.getElementById(elementId).style.display = "block";
}
</script>
{% endblock %}