{% extends "layout.html" %}

{% block page_title %}
Agent view - Pension forecast
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds" style="width: 100%; padding-left: 30px">
      <h1 class="heading-xlarge">Show and tells </h1>
      <h2 class="heading-large">14 September 2016</h2>
        <video width="320" height="240" controls>
  <source src="/public/videos/show-and-tell_screen-recording-2016-09-14.mov" type="video/mp4">

<p>Your browser does not support the video tag.</p>
</video>
</div>
        </div>
      </main>

      {% endblock %}
